@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
  margin-top: 48px;
}
.coffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.concept_contents {
  display: flex;
}
.concept_contents p {
  width: 60%;
}
.concept_contents img {
  width: 35%;
}

.menu_contents {
  background-image: url(../images/sample_menu_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.recommended_menu_items {
  display: flex;
  flex-direction: row;
}
.recommended_menu_item {
  display: flex;
  width: 49%;
  background-color: #fff;
} 
.recommended_menu_item div {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
}
.recommended_menu_item div h2 {
  font-size: 1rem;
}
.recommended_menu_item_price {
  text-align: right;
}
.recommended_menu_item img {
  width: 55%;
  height: 300px;
  object-fit: cover;
}
.coffee_menu_items {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.coffee_menu_item {
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
  align-items: center;
  gap: 1rem;
}
.coffee_menu_item div {
  width: 80%;
}
.coffee_menu_item div h2 {
  font-size: 1rem;
}
.coffee_menu_item img {
  width: 20%;
}
.access_contents {
  display: flex; 
}
.access_contents dt {
  width: 80px;
}
iframe {
  width: 100%;
  padding-bottom: 32px;
}
footer {
  background-color: #251e19;
  color: #fff;
  height: 75px;
}
.footer_contents {
  display: flex;
  justify-content: center;
}

.footer_contents a {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.footer_contents img {
  width: 80px;
}
footer p {
  padding-top: 16px;
  text-align: center;
  font-size: .6rem;
}